# Database
DB_USER=database_username
DB_PASSWORD=database_password
DB_NAME=database_name
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@localhost:5432/DB_NAME

# Auth (better-auth)
BETTER_AUTH_SECRET=random_secret_string_min_32_chars
BETTER_AUTH_URL=base_url_of_the_server

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret